Users & Devices
===================================================

Cleaning up list of devices present at ITU for the entire period
We will look for:
- devices always connected to 1-3 devices in the entire period
- devices present for 'suspiciously long time

In [3]:
from lib.cached_data_loader import CachedDataLoader
from lib.panda_plotter import PandaPlotter
cdl = CachedDataLoader()
pp = PandaPlotter()

In [6]:
# BASE
sql = "SELECT * FROM v__wcb__h__record_counts;"
df = cdl.get_dataframe(sql)
df = cdl.reindex_by_timestamp(df, "ts", "1H")
mask = (df['ts'] >= '2019-11-10 00:00:00') & (df['ts'] <= '2019-11-11 00:00:00')
mdf_1 = df.loc[mask]

In [7]:
# S1
sql = "SELECT * FROM v__wcs__h__record_counts;"
df = cdl.get_dataframe(sql)
df = cdl.reindex_by_timestamp(df, "ts", "1H")
mask = (df['ts'] >= '2019-11-10 00:00:00') & (df['ts'] <= '2019-11-11 00:00:00')
mdf_2 = df.loc[mask]

In [8]:
mdf_2

,ts,Y,M,D,HH,total_count,mqtt_count,per_minute_count
728,2019-11-10 00:00:00,2019,11,10,0,566,12,47.0
729,2019-11-10 01:00:00,2019,11,10,1,531,12,44.0
730,2019-11-10 02:00:00,2019,11,10,2,527,12,44.0
731,2019-11-10 03:00:00,2019,11,10,3,523,12,44.0
732,2019-11-10 04:00:00,2019,11,10,4,516,12,43.0
733,2019-11-10 05:00:00,2019,11,10,5,515,12,43.0
734,2019-11-10 06:00:00,2019,11,10,6,513,12,43.0
735,2019-11-10 07:00:00,2019,11,10,7,510,12,43.0
736,2019-11-10 08:00:00,2019,11,10,8,517,12,43.0
737,2019-11-10 09:00:00,2019,11,10,9,545,12,45.0
738,2019-11-10 10:00:00,2019,11,10,10,675,12,56.0
739,2019-11-10 11:00:00,2019,11,10,11,984,12,82.0
740,2019-11-10 12:00:00,2019,11,10,12,1294,12,108.0
741,2019-11-10 13:00:00,2019,11,10,13,1384,12,115.0
742,2019-11-10 14:00:00,2019,11,10,14,1534,12,128.0
743,2019-11-10 15:00:00,2019,11,10,15,1455,12,121.0
744,2019-11-10 16:00:00,2019,11,10,16,1388,12,116.0
745,2019-11-10 17:00:00,2019,11,10,17,1155,12,96.0
746,2019-11-10 18:00:00,2019,11,10,18,1052,12,88.0
747,2019-11-10 19:00:00,2019,11,10,19,908,12,76.0
748,2019-11-10 20:00:00,2019,11,10,20,781,12,65.0
749,2019-11-10 21:00:00,2019,11,10,21,669,12,56.0
750,2019-11-10 22:00:00,2019,11,10,22,602,12,50.0
751,2019-11-10 23:00:00,2019,11,10,23,568,12,47.0
752,2019-11-11 00:00:00,2019,11,11,0,560,12,47.0